.footer {
  margin-top: auto;
  text-align: center;
  border-radius: 5px 5px 0 0 ;
  background-color: rgb(226, 217, 174);
  border-radius: 5% 5% 0 0;
  margin-bottom: none;
  padding: 7px;
  border-top: 2px #808080 solid;
}

