.product {
  color: blue;
  display: inline-block;
  padding: 5px;
  border: 1px solid lightblue;
  background-color: rgb(226, 217, 174);
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(152, 170, 185);
  margin: 10px;
}

.product label {
  padding-bottom: 1rem;
}

.product img {
  width: 297px;
  height: 297px;
}

.card-add {
  display: flex;
  justify-content: space-evenly;
}

.card-add button {
  margin: 0 5px;
  padding: 0 20px;
}

.card-add p {
  padding: 0 10px
}

.card-details label {
  display: block;
}

